.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#loginForm{
  position: absolute;
  width: 100%;
  align-content: center;
}

.logFormUser{
  position: absolute;
  left: 50%;
  padding: 10px; 
  border-radius: 5px;
}
.logFormUser:hover{
  background-color: rgb(240, 240, 240);
  border-radius: 8px;
}

.logFormPass{
  position: absolute;
  left: 50%;
  padding: 10px; 
  top:40px;
  border-radius: 5px;
}
.logFormPass:hover{
  border-radius: 8px;
  background-color: rgb(240, 240, 240);
}
.logFormButt{
  position: absolute;
  left: 50%;
  padding: 10px; 
  top: 80px;
  width: 170px;
  border-radius: 5px;
  background-color: rgb(132, 209, 132);
  border-style: none;
  border-radius: 5px;
}
.logFormButt:hover{
  background-color: rgb(119, 190, 119);
  border-radius: 8px;
}

#loginHeader{
  position: absolute;
  left: 40%;
  padding: 10px; 
}


/////////////////TUTOR CARD//////////////////
#tutorCard{

}
#tutorImage{

}
#tutorInformation{

}
#tutorBio{

}
#tutorRate{

}